// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines 1rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;
}

body {
  font-family: 'Scope One', 'Roboto';
  line-height: $line-height-middle;
  color: $color-grey-dark-3;
}

a {
  &:link,
  &:visited {
    display: inline-block;
    color: $color-grey-dark-3;
    text-decoration: none;
  }
  &:hover {
    background-color: $color-grey-light-2;
  }
}

a.active {
  // doesn't work above with &:active
  background-color: $color-grey-light-2;
}

// reading area: 680
// text size medium to small: 18px
// text size wide: 21px
// line hight 1.6
main {
  font-size: $font-size-middle;
  max-width: $text-block-width;
  margin: 0 auto;
  padding: 0.8rem;
  @include respond(wide) {
    font-size: $font-size-wide;
  }
}

section,
article {
  @include respond(wide) {
    &:first-child {
      margin: 3.2rem 0rem;
    }
    margin: 5.2rem 0rem;
  }

  &:first-child {
    margin: 3.2rem 0rem;
  }
  margin: 3.6rem 0rem;

  .layout {
    &__floating-text {
      margin: 2rem 0rem;
      font-family: $font-sans-serif;
      font-weight: $font-weight-middle;
    }
  }

  p {
    margin-bottom: 0.8rem;
  }
  p:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    margin-left: 2.8rem;
  }
  ul > li {
    list-style: none;
  }
  ul > li:before {
    display: inline-block;
    content: '-';
    width: 1.6rem;
    margin-left: -1.6rem;
  }
  h4 {
    margin: 1.6rem 0 0.8rem 0;
  }
}
