// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines 1rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;
}

body {
  font-family: 'Scope One', 'Roboto';
  line-height: $line-height-middle;
  color: $color-grey-dark-3;
}

.header {
  display: flex;
  justify-content: space-between;

  @include respond(wide) {
    display: block;
  }

  &__title {
    @include respond(small) {
      font-size: $font-size-title-small;
      font-weight: $font-weight-title-small;
      margin: 0.8rem;
      margin-right: 5.5rem; // avoid collition with hambuger nav
    }
    @include respond(middle) {
      font-size: $font-size-title-middle;
      font-weight: 700;
      margin: 0.8rem;
    }
    @include respond(wide) {
      margin: 0 auto;
      width: 45rem;
      font-size: $font-size-title-wide;
      font-weight: $font-weight-title-wide;
    }
  }
}

// reading area: 680
// text size small: 18px, big: 21px
// line hight 1.6
.content-wrap {
  font-size: $font-size-middle;
  max-width: $text-block-width;
  margin: 0 auto;
  padding: 0.8rem;
  @include respond(wide) {
    font-size: $font-size-wide;
  }
}

footer {
  display: block;
  font-size: $font-size-middle;
  text-align: center;
  margin: 5rem;
}
