.pub-category {
  @include respond(wide) {
    margin-top: 3.2rem;
  }
}

.pub {
  &__subtitle {
    margin-bottom: 0.8rem;
  }
  &__author-list {
    display: inline;
  }
  &__author {
    margin-right: 1.2rem;
  }

  &__details {
    margin-top: 4.8rem;
    font-family: $font-non-serif;
    font-weight: $font-weight-middle;
    font-size: smaller;
  }

  &__details td {
    padding-right: 1rem;
  }

  &__sold-out {
    font-style: italic;
  }
}
